<tr class="gui gui-hidden detailsRow">
    <td colspan="{{length}}">
        <table class="gui very compact selectable celled table detailsTable m-l-37 p-5" style="width: auto;" >
            <tbody>
                {{#each mainRowColArray}}
                <tr>
                    <td class="gui rv-parent" valign="top" data-filter-type="{{type}}" data-filter-key="{{id}}" data-filter-value="{{actualValue}}">
                        <span>{{columnName}}</span>
                        {{{Filters filterable type}}}
                    </td>
                    <td>{{{columnValue}}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </td>
</tr>