{{#each mainRowArray}}
<tr class="mainRow" data-pk-attr="{{keyColumn}}" >
    <td class="expansionArrows" style="display:flex;justify-content:center;">
        <i class="gui gui-icon gui-icon-chevron-down expandDetailsRowIcon cursor-pointer" aria-hidden="true"></i>
        <i class="gui gui-icon gui-icon-chevron-up CollapseDetailsRowIcon cursor-pointer gui-hidden" aria-hidden="true"></i>
    </td>
    <td>
        <input type="checkbox" data-value="{{rowData}}" value="{{keyColumn}}" class="select-key-checkbox cursor-pointer">
    </td>
    {{#each mainRowColArray}}
        <td title="{{{columnValue}}}" class="body-{{id}}">{{{columnValue}}}</td>
    {{/each}}
</tr>
{{> grid-details-row}} {{/each}}