<style>
    .inner-container {
        height: 100%;
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .table-header {
        position: relative;
        top:0 !important;
    }

    .table-body {
        overflow: auto;
        flex: 5;
        padding-right: 17px;
    }
    .table-footer{
        height: 35px;
        padding: 5px;
    }
    .table-footer .footer-middle{
        display: flex;
    }
    .table-footer .footer-right{
        display: flex;
    }
    .margin-auto{
        margin: auto !important;
    }
    .pager-input-container .pager-input{
        width: 50px;
    }
    .column-settings-container{
        position:absolute !important;
        z-index:1000 !important;
        bottom:35px !important;
        left: 5px;
        display:none;
        box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    }
    .remove-label:hover{
        text-decoration: line-through;
        cursor: pointer;
    }
    .border-less tr td,.border-less { border: 0px !important; }
    .cursor-pointer{
        cursor: pointer;
    }
    .ui.supercompact.icon.button, .ui.supercompact.icon.buttons .button {
        padding: .3em .3em .3em .3em !important;
    }
</style>
<div class="inner-container gui fluid container" style="padding:0%;">
    <div class="table-header">
        <table id="headertable" class="gui large compact fixed selectable single line table mainTable">
            <colgroup class="headerColGroup">
                <col style="width:40px;" />
                <col style="width:40px;" />
                {{#each columns}}
                    {{{Column this}}}
                {{/each}}
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    {{#each columns}}
                        <th id="header-{{id}}" data-header-id="{{id}}">
                            {{#if sortable}}
                                <i class="gui gui-icon gui-icon-arrow-up hidden" aria-hidden="true" ></i>                        
                                <i class="gui gui-icon gui-icon-arrow-down hidden" aria-hidden="true" ></i>
                            {{/if}}
                            <span class="gui sub header">{{name}}</span>
                        </th>
                    {{/each}}
                </tr>
            </thead>
        </table>
    </div>
    <div class="table-body">
        <table class="gui basic large compact fixed selectable single line table mainTable">
            <colgroup class="bodyColGroup">
                <col style="width:40px;" /> 
                <col style="width:40px;" />
                {{#each columns}}
                    {{{Column this}}}
                {{/each}}
            </colgroup>
            <tbody class="mainTableBody">
                {{> grid-main-row}}
            </tbody>
        </table>
    </div>
    <div class="table-footer gui fluid-w basic curved row p-5">
           {{> grid-footer}}
    </div>
</div>