<tr id="details-row-{{rowIndex}}" class="gui gui-hidden detailsRow" aria-live="polite">
    <td colspan="{{length}}">
        <table class="gui very compact selectable celled table detailsTable m-l-37 p-5" 
               style="width: auto;" >
            <tbody>
                {{#each mainRowColArray}}
                <tr>
                    <td class="gui rv-parent" 
                        valign="top" 
                        data-filter-type="{{type}}" 
                        data-filter-key="{{id}}" 
                        data-filter-value="{{actualValue}}">
                        <span>{{columnName}}</span>
                        {{#if filterable}}
                        <span class="gui m-l-5 rv-child gui-caption" >
                            <i class="gui gui-icon gui-icon-add hover m-l-5 cursor-pointer addFilter"></i>
                            <i class="gui gui-icon gui-icon-minus hover m-l-5 cursor-pointer removeFilter"></i>
                        </span>
                        {{/if}}
                    </td>
                    <td>{{{columnValue}}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </td>
</tr>