{{#each mainRowArray}}
<tr aria-rowindex="{{Add rowIndex 1}}" class="mainRow {{BoolAttribute isAllSelected " active"}}"
    data-pk-attr="{{keyColumn}}" role="row" id="details-main-row-{{rowIndex}}">
    <td class="expansionArrows" class="gui flex jc-sb" aria-colindex="1" role="gridcell">
        <i aria-label="Press enter to expand the details Row" role="button" title="Expand the details Row"
            aria-controls="details-main-row-{{rowIndex}}"
            class="gui gui-icon gui-icon-chevron-down expandDetailsRowIcon cursor-pointer" tabindex="0"
            aria-hidden="false" aria-expanded="false"></i>
        <i aria-label="Press enter to collapse the details Row" role="button" title="Collapse the details Row"
            aria-controls="details-main-row-{{rowIndex}}"
            class="gui gui-icon gui-icon-chevron-up CollapseDetailsRowIcon cursor-pointer gui-hidden" tabindex="0"
            aria-hidden="true" aria-expanded="true"></i>
    </td>
    <td role="gridcell" aria-colindex="2">
        <input aria-label="Checkbox to select the row with Id {{keyColumn}}" type="checkbox" {{BoolAttribute
            isAllSelected "checked" }} value="{{keyColumn}}" class="select-key-checkbox cursor-pointer" id="{{keyColumn}}-checkbox">
    </td>
    {{#each mainRowColArray}}
    <td title="{{actualValue}}" role="gridcell" aria-colindex="{{Add @index 3}}" class="body-{{id}}" {{{AriaHidden hidden}}}>{{{columnValue}}}</td>
    {{/each}}
</tr>
{{^isAlternateExpanded}}
{{> grid-details-row}}
{{/isAlternateExpanded}}
{{#isAlternateExpanded}}
    {{> grid-details-table-row}}
{{/isAlternateExpanded}}
{{/each}}
