<div class="col-md-3 gui left text-left gui-body-2 p-5" style="display:absoulte;">
    <div class="gui fluid-w">
        <a class="gui col-settings-trigger" aria-label="Manage Grid Column Settings" title="Manage Grid Column Settings" tabindex="1">
            <i class="gui-icon gui-icon-repair"></i>
            Manage Columns
        </a>
        <a class="gui col-sorting-reset-trigger m-l-10" aria-label="Clear Sorting" title="Clear Sorting"
            tabindex="2">
            <i class="gui-icon gui-icon-sort"></i>
            Clear Sorting
        </a>
    </div>
    <div class="column-settings-container">{{> grid-manage-columns}}</div>
</div>
<div data-role="pager" class="gui gui-body-2 col-md-6 text-center">
    <div class="gui mini compact icon buttons">
        <button class="gui mini compact icon button firstLink" aria-hidden="true" {{Disabled paginationData.firstPageLinkDisabled}}
            aria-label="Go to the first page" title="Go to the first page" data-page="1" tabindex="-1">
            <i class="gui-icon gui-icon-fast-backward"></i>
        </button>
        <button class="gui mini compact icon button prevLink" aria-hidden="true" {{Disabled paginationData.prevPageLinkDisabled}}
            aria-label="Go to the previous page" title="Go to the previous page" data-page="{{math paginationData.pageIndex '-' 1}}"
            tabindex="-1">
            <i class="gui-icon gui-icon-previous"></i>
        </button>
    </div>
    <div class="gui pager-input-container input">
        <span class="gui m-r-5"> Page </span>
        <input class="gui pager-input w-25 p-0 m-r-5" aria-label="1" value="{{paginationData.pageIndex}}" type="text" placeholder="Page Number ...">
        <span class="no-of-pages-scan" data-number-of-pages="{{paginationData.noOfPages}}"> of {{paginationData.noOfPages}}</span>
    </div>
    <div class="gui mini compact icon buttons">
        <button class="gui mini compact icon button nextLink" aria-hidden="true" {{Disabled paginationData.nextPageLinkDisabled}}
            aria-label="Go to the next page" title="Go to the next page" class="gui button" data-page="{{math paginationData.pageIndex '+' 1}}"
            tabindex="-1">
            <i class="gui-icon gui-icon-next"></i>
        </button>
        <button class="gui mini compact icon button lastLink" aria-hidden="true" {{Disabled paginationData.lastPageLinkDisabled}}
            aria-label="Go to the last page" title="Go to the last page" data-page="{{paginationData.noOFpages}}" tabindex="-1">
            <i class="gui-icon gui-icon-fast-forward"></i>
        </button>
    </div>
</div>
<div class="col-md-3 gui gui-body-2 right text-right p-5">
    <select class="gui pageSizeSelector">
        {{#each paginationData.pageSizes}}
        <option {{Selected ../paginationData.pageSize this}}>{{this}}</option>
        {{/each}}
    </select>
    <span class="gui m-l-10">{{paginationData.range.min}} - {{paginationData.range.max}} of {{paginationData.totalCount}} items</span>
</div>
<div class="gui clear"></div>